#s3-img1{transform: rotate(5.9deg);-webkit-transform: rotate(5.9deg);top: -10%;left: -4%;z-index: 0;}
#s3-img2{transform: rotate(-6.4deg);-webkit-transform: rotate(-6.4deg);top:29%;left: 5%;z-index: 1;}
#s3-img3{transform: rotate(5.9deg);-webkit-transform: rotate(5.9deg);top:65%;left:10%;z-index: 0;}
#s3-img5{transform: rotate(5.9deg);-webkit-transform: rotate(5.9deg);top: -5%;left: 0%;}
#s3-img6{transform: rotate(5.9deg);-webkit-transform: rotate(-5.1deg);top:29%;left: 5%;}
#s3-img7{transform: rotate(5.9deg);-webkit-transform: rotate(4deg);top:65%;left:3%;}
#s3-img9{transform: rotate(5.9deg);-webkit-transform: rotate(5.9deg);top: -5%;left: 10%;z-index: 2;}
#s3-img10{transform: rotate(5.9deg);-webkit-transform: rotate(-4.5deg);top:29%;left: 0%;z-index: 1;}
#s3-img11{transform: rotate(5.9deg);-webkit-transform: rotate(-0.5deg);top:65%;left:3%;z-index: 0;}
#s3-img13{transform: rotate(5.9deg);-webkit-transform: rotate(-8.1deg);top: -5%;left: -5%;}
#s3-img14{transform: rotate(5.9deg);-webkit-transform: rotate(0.7deg);top:29%;left: 5%;}
#s3-img15{transform: rotate(5.9deg);-webkit-transform: rotate(4.8deg);top:65%;left:3%;}
#s3-img17{transform: rotate(5.9deg);-webkit-transform: rotate(-8.3deg);top: -5%;left:5%;z-index: 2;}
#s3-img18{transform: rotate(5.9deg);-webkit-transform: rotate(0deg);top:29%;left: 5%;z-index: 1;}
#s3-img19{transform: rotate(5.9deg);-webkit-transform: rotate(-5.7deg);top:65%;left:3%;z-index: 0;}
#s3-img21{transform: rotate(5.9deg);-webkit-transform: rotate(3.7deg);top: -5%;left:5%;z-index: 2;}
#s3-img22{transform: rotate(5.9deg);-webkit-transform: rotate(0deg);top:29%;left: 5%;z-index: 1;}
#s3-img23{transform: rotate(5.9deg);-webkit-transform: rotate(-6.6deg);top:65%;left:3%;z-index: 0;}